In [2]:
import numpy as np
import pandas as pd

In [3]:
df0 = pd.read_csv('sales_082020.csv')
df = df0.copy()

In [4]:
df

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237666,p7ibf7soot,GB,ss7jy9ks,GB,hzc7pmjxmsb6,Bottoms - Womens,NaN,GBP,17.11,2020-08-06
237667,2hg8zirueq,US,bk6apusi,US,fskn84lfyrvz,Home,NaN,USD,69.00,2020-08-05
237668,k5hmcfxcs6,GB,n2ez0xph,GB,5afe7yhdpcmz,Other,NaN,GBP,58.28,2020-08-05
237669,ca8nc8qv1x,GB,j1s4nqxb,GB,ktdrjbrq0fo2,Shoes,NaN,GBP,9.46,2020-08-05
237670,z09h7w9zcd,US,0au7baxi,US,0r1qni2g1zi4,Other,NaN,USD,160.76,2020-08-06

1. How many rows in the sales dataset?(Just write numbers) *

In [5]:
df.shape[0]

237671

2. How many columns in the sales dataset?(Just write numbers)

In [6]:
df.shape[1]

10

3. What is the total number of sellers?(Just write numbers) *

In [7]:
df['seller_id'].nunique()

114227

4. What is the total value of sales in EUR?(Just write numbers)

In [8]:
df['price'].sum()

6739727.730000001

In [9]:
df[df['currency']=='EUR'][['price']].sum()

price    275837.69
dtype: float64

In [10]:
df[df['currency']=='EUR']['price'].sum()

275837.69

5. Which brand has the highest number of purchases during the period?(Write down brand as in dataset, answer is case sensitive)

In [11]:
df.nlargest(1,'price')

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
213903,7bl99r5ara,US,4mx8uidx,RoW,2iqhq5aslvye,Tops - Womens,NaN,HUF,36919.18,2020-08-04

In [12]:
df.groupby('brand')[['price']].mean().nlargest(1,'price')

             price
brand
Goyard  339.363333

In [13]:
df.groupby('brand')[['seller_id']].count().nlargest(1,'seller_id')

       seller_id
brand
Nike        9575

In [14]:
df['category'].unique()

array(['Dresses', 'Outerwear', 'Tops - Mens', 'Bottoms - Womens',
       'Tops - Womens', 'Outerwear - Mens', 'Accessories', 'Jewellery',
       'Other', 'Film', 'Art', 'Music', 'Shoes', 'Lingerie',
       'Bottoms - Mens', 'Home', 'Tech', 'Beauty', 'Sports equipment',
       'Kids', 'Transportation', 'Books & magazines', 'Underwear',
       'UNSPECIFIED', nan], dtype=object)

6. How many items in the “Jewelry” category have no brand associated with them?(Just write numbers) *

In [15]:
df[(df['category'] == 'Jewellery') & (df['brand']=='NaN')].count()

buyer_id          0
buyer_country     0
seller_id         0
seller_country    0
product_code      0
category          0
brand             0
currency          0
price             0
date              0
dtype: int64

In [16]:
df[(df['category'] == 'Jewellery')]['brand'].isnull().sum()

13525

In [17]:
df['currency'].unique()

array(['GBP', 'USD', 'AUD', 'EUR', 'CAD', 'NZD', 'HKD', 'CHF', 'SEK',
       'DKK', 'ILS', 'PLN', 'THB', 'MXN', 'JPY', 'NOK', 'SGD', 'MYR',
       'TWD', 'HUF', 'CZK', 'BRL'], dtype=object)

In [18]:
df.head(1)

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03

7. How many brands have between 35 and 55 transactions (inclusive)?(Just write numbers)

In [22]:
(df.groupby('brand')['brand'].count().apply(lambda x: 35<= x <=55)).sum()

81

In [142]:
df.groupby('brand')['seller_id'].count().apply(lambda x: 35<= x <=50)

brand
& Other Stories    False
032c               False
11 Degrees         False
1822 Denim         False
3.1 Phillip Lim    False
                   ...
ghd                 True
kensie             False
liquid blue        False
mixxmix            False
philosophy         False
Name: seller_id, Length: 1134, dtype: bool

In [63]:
df.groupby('brand')['seller_id'].count()

brand
& Other Stories    151
032c                11
11 Degrees          33
1822 Denim           8
3.1 Phillip Lim     10
                  ...
ghd                 35
kensie               1
liquid blue         52
mixxmix             12
philosophy           4
Name: seller_id, Length: 1134, dtype: int64

8. How many pairs of shoes were purchased by Australian (AU) buyers?(Just write numbers)

In [78]:
df[(df['category'] == 'Shoes') & (df['buyer_country'] =='AU')]['buyer_id'].count()

658

9. Which brand has the highest average transaction value? (Just write brand name)

In [97]:
df.groupby('brand')[['price']].mean().nlargest(1,'price')

             price
brand
Goyard  339.363333

10.What is the total value of items purchased by GB buyers from GB sellers? (Just write numbers)

In [144]:
df[(df['buyer_country'] == 'GB') & (df['seller_country'] =='GB')]['price'].sum()

3184495.5800000005

11.What percentage of US sellers' transactions were purchased by US buyers? (Just write percentage)

In [150]:
df[(df['buyer_country'] == 'US') & (df['seller_country'] =='US')].count()/df[(df['buyer_country'] == 'US')].count()

buyer_id          0.975769
buyer_country     0.975769
seller_id         0.975769
seller_country    0.975769
product_code      0.975769
category          0.975767
brand             0.986489
currency          0.975769
price             0.975769
date              0.975769
dtype: float64